@use "variables.scss";

@mixin generalView {
  margin: 0;
  padding: 0;
  background-image: variables.$backgroundImage;
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  background-size: 300px;
}

@mixin navBar {
  box-shadow: variables.$box-shadow;
  transition: all 1s;
  :hover,
  :focus {
    transform: translateY(-7px) scale(1.1);
    cursor: pointer;
    a {
      color: variables.$fontColorHover;
    }
  }
}

@mixin buttons {
  box-shadow: variables.$box-shadow;
  transition: all 1s;

  &:hover,
  &:focus {
    background-color: variables.$backgroundButtonHover !important;
    box-shadow: variables.$box-shadow;
    transform: translateY(-7px) scale(1.1) !important;
    color: variables.$fontColorHover !important;
    a {
      color: variables.$fontColorHover !important;
    }
  }
}

@mixin forms {
  box-shadow: variables.$box-shadow;
  transition: all 1s;
  div > div {
    &:hover,
    &:focus {
      background-color: variables.$backgroundButtonHover !important;
      box-shadow: variables.$box-shadow !important;
      transform: translateY(-7px) scale(1.1) !important;
      color: variables.$fontColorHover !important;
      a {
        &:visited {
          color: variables.$fontColor !important;
          color: variables.$backgroundColor !important;
        }
      }
    }
  }
  input:focus,
  textarea:focus {
    outline: 8px ridge variables.$borderColor;
    border-radius: 2rem;
  }
}
