@use "variables.scss";

@mixin buttons {
  box-shadow: 0px 5px 5px 5px darken(variables.$backgroundColor, 20%);
  transition: all 1s;

  &:hover,
  &:focus {
    background-color: variables.$backgroundButtonHover !important;
    box-shadow: 0px 15px 20px variables.$backgroundButtonHover !important;
    transform: translateY(-7px) scale(1.1) !important;
    color: variables.$fontColorHover !important;
    a {
      color: variables.$fontColorHover !important;
    }
  }
}

@mixin generalView {
  background-image: variables.$backgroundImage;
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  background-size: 300px;
}

@mixin navBar {
  height: 60px;
  box-shadow: 0px 5px 5px 5px darken(variables.$backgroundColor, 20%);
  transition: all 1s;

  :hover,
  :focus {
    transform: translateY(-7px) scale(1.1);

    a {
      color: variables.$fontColorHover;
    }
  }
}

@mixin forms {
  box-shadow: 0px 5px 5px 5px darken(variables.$backgroundColor, 20%);

  input:focus,
  textarea:focus {
    outline: 8px ridge variables.$borderColor;
    border-radius: 2rem;
  }
  h2 {
    font-size: 3em;
  }
}

@mixin posts {
  border-radius: 45px;
  border-color: variables.$backgroundButtonHover;
  color: variables.$fontColor;
  box-shadow: 0px 5px 5px 5px darken(variables.$backgroundColor, 20%);
  background-color: variables.$backgroundButton;

  margin: auto;
  padding: 10%;
  border: 1px solid black;

  h2 {
    text-align: center;
    font-size: 3em;
  }

  .individual-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    width: 100%;
    height: 100%;

    &:hover,
    &:focus {
      background-color: variables.$backgroundButtonHover;
      box-shadow: 0px 15px 20px variables.$backgroundButtonHover;
      transform: translateY(-7px) scale(1.1);
      color: variables.$fontColorHover;

      a {
        color: variables.$fontColorHover;
      }
    }
  }
}
