$geneneralFont: "Trebuchet MS", sans-serif;
$fontSize: 18px;
$fontColor: #ad0000;
$fontColorHover: white;
$backgroundColor: linear-gradient(
  90deg,
  rgba(255, 198, 198, 1) 0%,
  rgba(255, 142, 142, 1) 51%,
  rgba(255, 108, 108, 1) 100%
);
$backgroundButton: white;
// $backgroundImage: url("../assets/icon-above-font.png");
// $buttonBackground: rgb(203, 203, 203);
$backgroundButtonHover: red;
$borderColor: red;
$box-shadow: 0px 5px 5px 5px darken($backgroundButtonHover, 20%);
