$geneneralFont: "Trebuchet MS", sans-serif;
$fontSize: 18px;
$fontColor: red;
$fontColorHover: white;
$backgroundColor: rgb(254, 249, 249);
$backgroundButton: white;
$backgroundImage: url("../assets/icon-above-font.png");
$buttonBackground: rgb(203, 203, 203);
$backgroundButtonHover: red;
$borderColor: red;
$box-shadow: 0px 5px 5px 5px darken($backgroundColor, 20%);
